.container {
  min-width: 288px;
  max-width: 400px;
  width: 100%;
  min-height: 42px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.checkbox {
  min-width: 18px;
  width: 18px;
  height: 18px;
  margin: 0;
}

.title {
  flex-grow: 1;
  margin: 0 8px;
  cursor: text;
  border: 1px solid transparent;
  word-break: break-word;
}

.title:hover {
  border: 1px dashed grey;
}

.inputWrapper {
  flex-grow: 1;
  margin: 0 8px;
}

.input {
  width: 100%;
}

.completed {
  text-decoration: line-through;
}
