.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.emptyList {
  color: grey;
  font-size: 12px;
}

.header {
  font-weight: 400;
  margin: 16px 0;
}

.completed {
  color: green;
}

.notCompleted {
  color: tomato;
}
